<% provide :title, t(".edit") %>
<% provide :submit, t(".update") %>
<h1><%= t ".edit" %></h1>
<div class="row">
  <%= render "layouts/menu" %>
  <div class="col-md-8">
    <%= render "form_question", question: @question %>
  </div>
</div>
