<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;</button>
        <h3 class="modal-title"> <b>Please log in!</b></h3>
      </div>
      <div class="modal-body">
        <%= render "sessions/form_log_in" %>
      </div>
    </div>
  </div>
</div>
