$gray: #777;
$gray-black: #222;
$white: #fff;
$white1: #eee;
$white2: #ccc;
$black: black;
$black1: #333333;
$black-light: #333;
$gray-black: #222;
$green: #003300;
$green1: #4CAF50;
$green2: #339933;
$red: red;
$red-brick: #cc2900;
$blue: #1b9bff;
$blue2: #0082e7;
$blue3: #4eb1ff;
