$gray: #777;
$gray-black: #222;
$gray1: #a6a6a6;
$gray2: #cccccc;
$white: #fff;
$white1: #eee;
$white2: #ccc;
$white3: #f1f1f1;
$white4: #ddd;
$black: #000;
$black-light: #333;
$black2: rgba(0, 0, 0, 0.2);
$black3: rgba(0, 0, 0, 0.19);
$green: #003300;
$green1: #4CAF50;
$green2: #339933;
$green3: #99ff99;
$red: #ff0000;
$red-brick: #cc2900;
$red-fresh: #ff471a;
$blue: #1b9bff;
$blue2: #0082e7;
$blue3: #4eb1ff;
$blue4: #00BF96;
$blue5: #00816A;
$blue6: #1E90FF;
$color-foreground: #fcfcfc;
$color-background: #1F4788;
$darkcyan: #2bb2b5;
