@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray: #777;
$white: #fff;
$black: black;
$gray-black: #222;
$green: #003300;
$red: red;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  background-image: url('bak1.jpg');
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  color: $gray; 
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  margin-top: 10px;
  max-height: 45px;
  float: left;
  color: $white;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

footer {
  color: $gray;
  background-color: $gray-black;
  margin-top: 45px;
  padding-top: 5px;
}

footer a {
  color: $gray;
}

footer small {
  float: left;
}

footer a:hover {
  color: $gray-black;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.btn {
  margin-top: 20px;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.remember {
  width: auto;
  margin-left: 20px;
}

.error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  text-align: center;
}
.user {
  padding-bottom: 5px;
  list-style: none;
}

.avatar {
  img {
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
  }
}

.img-size-large {
  width: 150px;
  height: 150px;
}

.img-size-small {
  width: 40px;
  height: 40px;
}
