<footer class="footer">
  <div class="max">
    <small>
      <%= t "design" %>  <%= link_to t("datthuy"), Settings.github %>
    </small>
    <nav>
      <ul>
        <li class="i18n">
          <%= link_to_unless I18n.locale == :en, "EN", locale: :en %>
        </li>
        <li class="i18n">
          <%= link_to_unless I18n.locale == :vi, "VI", locale: :vi %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
