<footer class="footer">
  <small>
    <%= t "design" %>  <%= link_to t("datthuy"),
      "https://github.com/tatdat97dhbkhn/e_learning" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about") %></li>
      <li><%= link_to t("contact") %></li>
    </ul>
  </nav>
</footer>
